<!--
  Generated template for the BattlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>
<ion-content id="battlemain">
<div ion-fixed style="width:100%; height:100%">
<div *ngIf="victoryScreen" id="expScreen"><font face="BebasNeue"><h1 id="VictoryTxt">Victory!</h1><p id="missionTxt">Mission 10 complete!</p><p id="expGainedTxt">365 EXP Gained</p></font>
<div id="expBarAll">
<div *ngIf="!expPet1" id="expPet1"><img id="expImg1" src="../assets/hangar/1.png" style="width: 70px; height: 70px;" /><div id="expBar1"><div id="expAmount1"></div></div></div>
</div>
<div id="vicLoot"></div>
<button ion-button id="repeat" color="danger" (click)="nextMission();">REPEAT MISSION</button>
<button ion-button id="next" color="secondary" (click)="repeatMission();">NEXT MISSION</button>
<button ion-button id="explore" (click)="backToExplore();">EXPLORE MORE</button>
<div 
</div>
<div *ngIf="defeatScreen" id="expScreen"></div>
<div id="battlefield">
<div id="bfPet1" (click)="onButtonClick(1);"></div>
<div id="bfEvil1" (click)="chooseTarget(1);"></div>
<div id="bfEvil2" (click)="chooseTarget(2);"></div>
<div id="bfEvil3" (click)="chooseTarget(3);"></div>
<h1 id="dmgPet1"></h1>
<h1 id="dmgEvil1"></h1>
<h1 id="dmgEvil2"></h1>
<h1 id="dmgEvil3"></h1>
</div>
<div id="battlediv">
<img id="bLine1" src="../assets/combat/linenone.png" style="width: 320px; height: 260px;" />
<ion-input *ngIf="buttonClicked" type="text" value=""></ion-input>
<div *ngIf="turnBG1" id="turnBGG1"></div>
<div *ngIf="buttonClicked"><button ion-button id="defButton1" (click)="onButtonClick(1);">DEF</button></div>
<div *ngIf="showEnemy1"><button ion-button id="atkButton1" (click)="chooseTarget(1);">ATK</button></div>
<div *ngIf="showEnemy2"><button ion-button id="atkButton2" (click)="chooseTarget(2);">ATK</button></div>
<div *ngIf="showEnemy3"><button ion-button id="atkButton3" (click)="chooseTarget(3);">ATK</button></div>
<div *ngIf="startCombat"><button ion-button id="startBattle" color="danger" (click)="startFight();">FIGHT</button></div>
<div *ngIf="resetOrder"><button ion-button id="resetFight" (click)="resetTargets();">RESET</button></div>
<div id="pokeView1"></div>
<div id="evilView1"></div>
<div id="evilView2"></div>
<div id="evilView3"></div>
</div>
</div>
</ion-content>
