<!--
  Generated template for the BattlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>
<ion-content id="battlemain" [style.background-size]="'contain'">
<div ion-fixed style="width:100%; height:100%">
<div id="battlefield">
<div id="bfPet1"></div>
<div id="bfPet2"></div>
<div id="bfPet3"></div>
<div id="bfEvil1"></div>
<div id="bfEvil2"></div>
<div id="bfEvil3"></div>
<h1 id="dmgPet1"></h1>
<h1 id="dmgPet2"></h1>
<h1 id="dmgPet3"></h1>
<h1 id="dmgEvil1"></h1>
<h1 id="dmgEvil2"></h1>
<h1 id="dmgEvil3"></h1>
</div>
<div id="battlediv">
<img id="bLine1" src="../assets/combat/linenone.png" style="width: 320px; height: 260px;" />
<img id="bLine2" src="../assets/combat/linenone.png" style="width: 320px; height: 260px;" />
<img id="bLine3" src="../assets/combat/linenone.png" style="width: 320px; height: 260px;" />
<ion-input *ngIf="buttonClicked" type="text" value=""></ion-input>
<ion-input *ngIf="buttonClicked2" type="text" value=""></ion-input>
<ion-input *ngIf="buttonClicked3" type="text" value=""></ion-input>
<div *ngIf="turnBG1" id="turnBGG1"></div>
<div *ngIf="turnBG2" id="turnBGG2"></div>
<div *ngIf="turnBG3" id="turnBGG3"></div>
<div *ngIf="buttonClicked"><button ion-button id="defButton1" (click)="onButtonClick(1);">DEF</button></div>
<div *ngIf="buttonClicked2"><button ion-button id="defButton2" (click)="onButtonClick(2);">DEF</button></div>
<div *ngIf="buttonClicked3"><button ion-button id="defButton3" (click)="onButtonClick(3);">DEF</button></div>
<div *ngIf="showEnemy1"><button ion-button id="atkButton1" (click)="chooseTarget(1);">ATK</button></div>
<div *ngIf="showEnemy2"><button ion-button id="atkButton2" (click)="chooseTarget(2);">ATK</button></div>
<div *ngIf="showEnemy3"><button ion-button id="atkButton3" (click)="chooseTarget(3);">ATK</button></div>
<div *ngIf="startCombat"><button ion-button id="startBattle" color="danger" (click)="startFight();">FIGHT</button></div>
<div *ngIf="resetOrder"><button ion-button id="resetFight" (click)="resetTargets();">RESET</button></div>
<div id="pokeView1"></div>
<div id="pokeView2"></div>
<div id="pokeView3"></div>
<div id="evilView1"></div>
<div id="evilView2"></div>
<div id="evilView3"></div>
</div>
</div>
</ion-content>
